<%= form_for([namespace, page.resource], html: { class: "form" }) do |f| %>
  <% if flash[:alert].blank? && page.resource.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= t(
              "administrate.form.errors",
              pluralized_errors: pluralize(page.resource.errors.count, t("administrate.form.error")),
              resource_name:     display_resource_name(page.resource_name).singularize
            ) %>
      </h2>

      <ul>
        <% page.resource.errors.full_messages.each do |message| %>
          <li class="flash-error"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if page.resource.is_a? User %>
    <%= render 'admin/partials/form/user_avatar', page: page, f: f %>
  <% elsif page.resource.is_a? News %>
    <%= render 'admin/partials/form/news_image', page: page, f: f %>
  <% elsif page.resource.is_a? Document %>
    <%= render 'admin/partials/form/document_file', page: page, f: f %>
  <% end %>

  <% page.attributes.each do |attribute| -%>
    <div class="field-unit field-unit--<%= attribute.html_class %> field-unit--<%= requireness(attribute) %>">
      <%= render_field attribute, f: f %>
    </div>
  <% end -%>

  <div class="form-actions">
    <%= f.submit "Сохранить" %>
  </div>
<% end %>
